@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');

body {
    background-color: #2088e9;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }

section{
    background-color: #e0dada;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.596);
}
  
  /* Define o estilo do título */
  h1 {
    color: #ffffff;
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    -webkit-text-stroke-width: 2px; /* largura da borda */
    -webkit-text-stroke-color: rgb(32, 32, 32); /* cor da borda */
  }
  
  /* Define o estilo do select */
  select {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    margin-bottom: 3px;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Define o estilo da opção "Todos os estados" */
  option[value="0"] {
    font-weight: bold;
  }
  
  /* Define o estilo do parágrafo da porcentagem */
  #porcentagem {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Define o estilo da imagem da bandeira */
  #bandeira {
    width: 270px;
    height: 175px;
    display: block;
    margin: 0 auto;
    border-radius: 5%;
    box-shadow: 5px 5px 10px black;
  }
  
  /* Define o estilo do contêiner da bandeira */
  #bandeira-container {
    text-align: center;
    margin-bottom: 20px;
  }

  .btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #3498db;
    border-radius: 0.6em;
    color: #3498db;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 10px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }
  
  .first {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .first:hover {
    box-shadow: 0 0 40px 40px #3498db inset;
  }